* {
  padding: 0;
  margin: 0;
}

.body {
  background-color: red;
  height: 100vh;
  /* max-width: 100%; */
  /* overflow: auto; */
  /* overflow-x: hidden; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
}

.product-deals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  background-color: white;
}
.display-wrap {
  position: relative;
}
.display-wrap > .display-description {
  position: absolute;
  top: 0px;
  right: 5px;
  text-align: right;
}
.display-wrap > .display-discount {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.skincare-image {
  width: 24vw;
  height: 34vh;
  max-height: 50vh;
  /* width: 44vh;
  height: 34vh;
  max-height: 50vh; */
}
.mobile-image {
  /* width: 22%;
  height: auto; */
  width: 24vw;
  height: 34vh;
  max-height: 50vh;
}
.babyneed-image {
  width: 24vw;
  height: 34vh;
  max-height: 50vh;
}
.television-image {
  width: 24vw;
  height: 34vh;
  max-height: 50vh;
}
.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: white;
  font-size: 30px;
  grid-gap: 2px;
}
.display-description {
  width: 50%;
  background-color: rgb(185, 179, 179);
}
.display-discount {
  background-color: white;
  width: 20%;
  text-align: center;
}
.des {
  font-size: 10px;
  color: lightgray;
}
.price {
  color: rgb(204, 17, 48);
  font-weight: bold;
  font-size: 20px;
}
.text {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
  color: rgb(100, 100, 145);
  font-size: 20px;
}
.discount {
  padding-bottom: 20px;
  color: lightgray;
  font-size: 15px;
}
a:link {
  text-decoration: none;
  color: rgb(148, 46, 148);
  font-weight: bold;
}
.desc {
  color: rgb(148, 158, 167);
  font-size: 12px;
}
.names {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: red;
}
